@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;700&display=swap');

:root {
    --bg: #eff3f4;
    --primary: #FF5353;
    --blue: #1677FF;
}

* {
    font-family: 'Wix Madefor Text', sans-serif;
}

html, body {
    margin: 0;
}

a {
    color: var(--blue);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.form-group {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
    }

    input, textarea, select {
        background: var(--bg);
        width: calc(100% - 22px);
        border: 1px solid var(--bg);
        border-radius: 6px;
        padding: 10px;
        outline: none;
        font-weight: bold;
        font-size: 15px;

        &:focus {
            background: #fff;
            border: 1px solid #999;
        }
    }

    select {
        width: 100%;
    }
}

.btn-group {
    display: flex;
    gap: 10px;
    .btn {
        width: 130px;
    }
}

.btn {
    padding: 14px 30px;
    outline: none;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;

    &--primary {
        background: var(--primary);
        color: #fff;
    }

    &--secondary {
        border: 1px solid #999;
    }
}

#app {
    .main {
        display: grid;
        grid-template-columns: 250px 1fr;
        height: 100vh;
    }
}

.side {
    .brand {
        padding: 30px 0;
        text-align: center;

        h1 {
            margin: 0;
            font-size: 22px;
            color: var(--primary);
        }
    }

    nav {
        padding: 0 30px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                padding: 5px 0;

                a {
                    color: #333;
                    text-decoration: none;
                    display: block;
                    padding: 13px 15px;
                    border-radius: 10px;

                    &.active, &:hover {
                        background: var(--primary);
                        color: #fff;
                    }
                }
            }
        }
    }
}

.content {
    background: #eff3f4;
    padding: 30px;

    .page {
        height: calc(100vh - 130px);
    }
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;

    h3 {
        margin: 0;
        font-weight: 400;
    }
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .modal-body {
        background: #fff;
        height: fit-content;
        padding: 20px;
        margin-top: 70px;
        border-radius: 10px;
        max-height: 77vh;
        overflow-y: auto;

        h3 {
            margin: 0 0 20px;
        }

        input {
            width: 400px;
        }
    }
}

.table {
    &.mt {
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            position: sticky;
            top: 0;

            tr {
                th {
                    background: #eff3f4;
                    padding: 10px;
                    text-align: left;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 10px;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
}
