@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

.login {
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h2 {
        margin-top: 0;
        font-weight: normal;
        text-align: center;
    }

    .container {
        width: 900px;
        background: #fff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 70%;
        overflow: auto;
        border-radius: 6px;
        box-shadow: 0 2px 3px #ccc;

        > div {
            display: flex;
            align-items: center;
            justify-content: center;

            &:nth-child(1) {
                background-color: #8ec5fc;
                background-image: linear-gradient(62deg, #8ec5fc, #e0c3fc);
            }

            &:nth-child(2) {
                padding: 30px;
            }
        }
    }

    form {
        width: 100%;
    }

    a {
        display: block;
        text-align: center;
        padding: 15px;
    }

    .input-password {
        position: relative;
        span {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }

    .btn {
        width: 100%;
    }
}
