<template>
  <div class="page">
    <div class="box">

      <div class="saldo">
        <p>Saldo Kamu</p>
        <h1>Rp {{ $filters.number(saldo) }}</h1>
      </div>

      <div class="history">
        <div class="top">
          <div>
            <b>History Transaksi</b>
          </div>
          <form class="filter" @submit.prevent="load(1)">
            <div class="form-group">
              <select v-model="filter.tipe">
                <option value="SEMUA">SEMUA TRANSAKSI</option>
                <option value="TOPUP">TOPUP</option>
                <option value="TRANSAKSI">TRANSAKSI</option>
              </select>
            </div>
            <div class="form-group">
              <input type="date" v-model="filter.tanggal">
            </div>
            <div class="form-group">
              <input type="search" placeholder="Cari keterangan.." v-model="filter.keterangan">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn--primary">FILTER</button>
            </div>
          </form>
        </div>

        <div class="list" :class="{loading: loading}">
          <ul>
            <li v-for="(item, index) in data" :key="index">
              <div>
                <span>{{ moment(item.created_at).format('DD/MM/YY HH:mm') }}</span>
                <p>
                  <b>{{ item.keterangan }}</b>
                </p>
              </div>
              <div>
                <div>
                  <small>{{ item.tipe }}</small>
                  <p>
                    <b>Rp {{ $filters.number(item.jumlah) }}</b>
                  </p>
                </div>
              </div>
            </li>
          </ul>

          <p v-show="data.length <= 0 && !loading" style="text-align: center;padding: 40px 0;">
            Tidak ada history transaksi
          </p>
        </div>

        <div class="pagination">
          <ul>
            <li
              v-for="(item, index) in [...Array(pages)]"
              :key="index"
              :class="{active: index == $route.query.page - 1}"
              @click="load(index)"
            >
              {{ ++index }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import {apiGet} from "../api";

export default {
  name: "History Transaksi",
  data() {
    return {
      data: [],
      saldo: 0,
      pages: 0,

      filter: {
        tipe: 'SEMUA',
        keterangan: ''
      },
      loading: false,
    };
  },
  methods: {
    moment,
    async loadSaldo() {
      const res = await apiGet('/v1/saldo');
      this.saldo = res.data.saldo;
    },
    async load(page) {
      const filter = this.toQueryString(this.filter);

      this.loading = true;
      const res = await apiGet(`/v1/transaksi/history?page=${page}&${filter}`);
      this.loading = false;

      if (res.valid) {
        this.data = res.data;
        this.pages = res.total_halaman;
      }

      this.$router.replace({query: {page}})
    },
    toQueryString(obj) {
      const keyValuePairs = [];
      for (const key in obj) {
        if (obj.hasOwnProperty(key)) {
          keyValuePairs.push(encodeURIComponent(key) + '=' + encodeURIComponent(obj[key]));
        }
      }
      return keyValuePairs.join('&');
    }

  },
  mounted() {
    this.loadSaldo();

    this.load(this.$route.query.page || 1);
  }
};
</script>


<style lang="scss" scoped>
.page {
  .box {
    padding: 0;
    margin-top: 40px;
    height: 80vh;
    overflow: auto;
  }

  .saldo {
    background: #c4e0ff;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    padding: 30px;

    p {
      margin-top: 0;
      margin-bottom: 10px;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filter {
    display: flex;
    gap: 15px;

    .form-group {
      &:nth-child(3) {
        input {
          width: 100%;
        }
      }
    }

    .btn {
      padding: 10px 20px;
    }
  }

  .history {
    padding: 0px 30px 30px;

    p {
      margin-top: 30px;
    }

    .list {

      &.loading {
        opacity: 0.5;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          justify-content: space-between;
          padding: 15px 0;
          border-bottom: 1px solid #eee;

          > div {
            &:last-child {
              display: flex;
              align-items: center;
              flex-direction: column;

              small {
                display: block;
                font-size: 12px;
                text-align: right;
              }
            }
          }

          span {
            font-size: 14px;
          }

          p {
            margin: 4px 0 0 0;
            color: #333;
          }
        }
      }
    }
  }

  .pagination {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        margin: 0 5px;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;

        &.active {
          background: var(--primary);
          color: #fff;
          font-weight: bold;
          border-color: var(--primary);

          &:hover {
            background: #f00;
          }
        }

        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}
</style>
