<template>
  <div class="login">
    <div class="container">
      <div>
        <img src="https://yukk.co.id/images/YUKK.png" alt="Logo">
      </div>
      <div>
        <signin v-if="state == 'SIGNIN'" @updateState="handleUpdateState"/>
        <signup v-if="state == 'SIGNUP'" @updateState="handleUpdateState"/>
      </div>
    </div>
  </div>
</template>

<script>

import Signin from './../components/Signin';
import Signup from './../components/Signup';

import Cookies from 'js-cookie';

export default {
  name: "Login",
  components: {
    Signup, Signin,
  },
  data() {
    return {
      state: 'SIGNIN'
    }
  },
  methods: {
    handleUpdateState (val) {
      this.state = val
    }
  }
}
</script>

<style lang="scss">
.login {
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h2 {
    margin-top: 0;
    font-weight: normal;
    text-align: center;
  }

  .container {
    width: 900px;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 75%;
    overflow: auto;
    border-radius: 6px;
    box-shadow: 0 2px 3px #ccc;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(1) {
        background-color: #8ec5fc;
        background-image: linear-gradient(62deg, #8ec5fc, #e0c3fc);
      }

      &:nth-child(2) {
        padding: 30px;
      }
    }
  }

  form {
    width: 80%;
  }

  a {
    display: block;
    text-align: center;
    padding: 15px;
  }

  .btn {
    width: 100%;
  }
}

.input-password {
  position: relative;

  span {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

</style>
