<template>
  <div class="page">
    <div class="box">
      <form @submit.prevent="submit()">
        <div class="form-group">
          <label>Tipe Transaksi <small v-show="submitted && !data.tipe">- Wajib dipilih</small></label>
          <select v-model="data.tipe">
            <option v-for="(item, index) in tipeTransaksi" :key="index" :value="item">
              {{ item }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Jumlah <small v-show="submitted && !data.jumlah">- Wajib diisi</small></label>
          <input type="tel" v-model="data.jumlah" v-thousand-separator/>
        </div>
        <div class="form-group">
          <label>Keterangan <small v-show="submitted && !data.keterangan">- Wajib diisi</small></label>
          <textarea rows="4" v-model="data.keterangan"></textarea>
        </div>

        <div class="btn-group">
          <button type="submit" class="btn btn--primary" :disabled="loading">Simpan</button>
          <button
            type="button"
            class="btn btn--secondary"
            @click="$router.back()"
          >
            Kembali
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>

import {apiPost} from "../api";

export default {
  name: "Home",
  data() {
    return {
      data: {
        tipe: 'TOPUP',
      },
      tipeTransaksi: [
        'TOPUP', 'TRANSAKSI'
      ],

      submitted: false,
      loading: false,
    };
  },
  methods: {
    async submit () {
      this.submitted = true;

      if (!this.data.tipe || !this.data.jumlah || !this.data.keterangan) {
        return;
      }

      this.data.jumlah = parseInt(this.data.jumlah.toString().replace(/[^0-9]+/g, ""));

      this.loading = true;
      const res = await apiPost('/v1/transaksi', this.data);

      this.loading = false;
      this.submitted = false;

      if  (res.valid) {
        this.emitter.emit("updateSaldo", res.data.saldo);

        this.$toast.default('Transaksi berhasil disimpan', {
          position: 'top-right'
        });
        this.clearForm();

      } else {
        this.$toast.error('Transaksi gagal disimpan', {
          position: 'top-right'
        });
      }
    },
    clearForm () {
      this.data = {
        tipe: 'TOPUP'
      }
    }
  },
};
</script>


<style lang="scss" scoped>
.page {
  form {
    max-width: 500px;
    margin: 20px auto;
  }
}
</style>
