<template>
  <form @submit.prevent="submit()">
    <h2>LOGIN</h2>
    <div class="form-group">
      <label>Email <small v-show="submitted && !data.email">- Wajib diisi</small></label>
      <input type="email" v-model="data.email">
    </div>
    <div class="form-group">
      <label>Password <small v-show="submitted && !data.password">- Wajib diisi</small></label>
      <div class="input-password">
        <input :type="passwordReveal ? 'text': 'password'" v-model="data.password">

        <span class="material-symbols-outlined password-reveal" @click="togglePassword()">
          {{ passwordReveal ? 'visibility_off' : 'visibility ' }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn--primary" :disabled="loading">
        LOGIN
      </button>
      <a href="javascript:;" @click="$emit('updateState', 'SIGNUP')">
        Belum punya akun? daftar
      </a>
    </div>
  </form>
</template>

<script>
import {apiPost} from "../api";

export default {
  name: "Signin",
  data() {
    return {
      data: {},
      passwordReveal: false,

      submitted: false,
      loading:false,
    }
  },
  methods: {
    togglePassword() {
      this.passwordReveal = !this.passwordReveal;
    },
    async submit() {
      this.submitted = true;

      if (!this.data.email || !this.data.password) {
        return;
      }

      this.loading = true;
      const res = await apiPost('/v1/login', this.data)
      this.loading = false;

      if (res.valid) {
        this.$store.dispatch('auth/login', res.data);
        location.href = '/'
      } else {
        alert('Login gagal')
      }
    }
  }
}
</script>

<style scoped>

</style>
