<template>
  <form @submit.prevent="submit()">
    <h2>Daftar Baru</h2>
    <div class="form-group">
      <label>Nama
        <small v-show="submitted && !data.nama">- Wajib diisi</small>
      </label>
      <input type="text" v-model="data.nama">
    </div>
    <div class="form-group">
      <label>Email
        <small v-show="submitted && !data.email">Wajib diisi</small>
      </label>
      <input type="email" v-model="data.email">
    </div>
    <div class="form-group">
      <label>Password
        <small v-show="submitted && !data.password">Wajib diisi</small>
      </label>
      <div class="input-password">
        <input :type="passwordReveal ? 'text': 'password'" v-model="data.password">

        <span class="material-symbols-outlined password-reveal" @click="togglePassword()">
          {{ passwordReveal ? 'visibility_off' : 'visibility' }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn--primary">
        DAFTAR
      </button>
      <a href="javascript:;" @click="$emit('updateState', 'SIGNIN')">
        Sudah punya akun? Login
      </a>
    </div>
  </form>
</template>

<script>
import {apiPost} from "../api";

export default {
  name: "Signup",
  data() {
    return {
      data: {},
      passwordReveal: false,

      loading: false,
      submitted: false
    }
  },
  methods: {
    togglePassword() {
      this.passwordReveal = !this.passwordReveal;
    },
    async submit() {
      this.submitted = true;

      if (!this.data.nama || !this.data.email || !this.data.password) {
        return;
      }

      const res = await apiPost('/v1/register', this.data)
      if (res.valid) {
        this.$store.dispatch('auth/login', res.data);
        location.href = '/'
      }
    }
  }
}
</script>
