<template>
  <div class="topbar">
    <div>
      <h2>{{ title }}</h2>
    </div>
    <div>
      <div></div>
      <div></div>
      <div class="user">
        <div class="saldo">
          <b>Rp {{ $filters.number(data.saldo) }}</b>
        </div>
        <p>
          {{ $store.getters['auth/user'].nama }}
        </p>
        <span class="material-symbols-outlined" @click="logout()">
          logout
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import {apiGet} from "../api";

export default {
  props: {
    title: String,
  },
  data() {
    return {
      data: {}
    }
  },
  methods: {
    async getSaldo() {
      const res = await apiGet('/v1/saldo');
      this.data = res.data;
    },
    logout() {
      this.$store.dispatch('auth/logout');
      location.href = '/login';
    }
  },
  mounted() {
    this.emitter.on('updateSaldo', val => {
      this.data.saldo = val
    });

    this.getSaldo();
  }
};
</script>

<style lang="scss" scoped>
.topbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin-bottom: 20px;

  h2,
  p {
    margin: 0;
    text-align: right;

    b {
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 15px;

    .saldo {
      display: flex;
      align-items: flex-start;
      gap: 4px;

      b {
        background: var(--primary);
        padding: 4px 8px;
        border-radius: 6px;
        color: #fff;
      }
    }

    span {
      cursor: pointer;
    }
  }
}
</style>
